<div class="email-confirm-body vertical-group">
  <img src="assets/images/forgotPass.png">
  <h1>Forgot your password?</h1>
  <p class="email-confirmation-text">That's okay! Just enter your email and we'll send you a link to reset it</p>
  <div class="email-confirmation-input horizontal-group">
    <input
      #emailForgotPassword1
      type="text"
      [value]="emailForgotPassword"
      (input)="updateForgotPasswordEmail(emailForgotPassword1.value)"
      placeholder="Email"
    />
  </div>
  <button (click)="sendForgotPasswordLink()">Send</button>
  <div class="email-confirmation-button horizontal-group">
    <a (click)="backToHome()">Back to homepage</a>
  </div>
</div>
