<div [ngSwitch]="page">
    <app-homepage
      *ngSwitchCase="'homepage'"
      (homepageEvent)="authenticateUser($event)"
      (forgotPasswordEvent)="forgotPassword()"
    ></app-homepage>
    <app-dashboard
      *ngSwitchCase="'dashboard'"

    ></app-dashboard>
    <app-email-confirmation
      *ngSwitchCase="'email-confirmation'"
      (backToHomeEvent)="backToHome()"
      (emailConfirmationCodeSentEvent)="resendCode()"
      (submitConfirmationCodeEvent)="submitConfirmationCode($event)"
    ></app-email-confirmation>
    <app-forgot-password
      *ngSwitchCase="'forgot-password'"
      (backToHomeEvent)="backToHome()"
    ></app-forgot-password>
</div>
