<div>
    <app-homepage
      *ngIf="page=='homepage'"
      (homepageEvent)="authenticateUser($event)"
      (forgotPasswordEvent)="forgotPassword()"
    ></app-homepage>
    <app-dashboard
      *ngIf="page=='dashboard'"

    ></app-dashboard>
    <app-email-confirmation
      *ngIf="page=='email-confirmation'"
      (backToHomeEvent)="backToHome()"
      (emailConfirmationCodeSentEvent)="resendCode()"
      (submitConfirmationCodeEvent)="submitConfirmationCode($event)"
    ></app-email-confirmation>
    <app-forgot-password
      *ngIf="page=='forgot-password'"
      (backToHomeEvent)="backToHome()"
    ></app-forgot-password>
</div>
