<div class="notebook">
  <div class="notebook-header">
      <div class="notebook-heaeder-left">
          <button class="arrow-button-left"></button>
          <h4 class="notebook-title">My Notebook</h4>
      </div>
      <div class="notebook-header-right">
          <button class="arrow-button-left"></button>
          <h6 class="notebook-page">1 / 2</h6>
          <button class="arrow-button-right"></button>
      </div>
  </div>
  <div class="notebook-body">
      <textarea name="" id="" cols="30" rows="10"></textarea>
  </div>
</div>
