<div>
    <div class="title-bar">
        <h4>Welcome to</h4>
        <h1>App name</h1>
        <h4>Subtitle</h4>
        <hr>
        <p>Info about the app</p>
    </div>
    <div class="action-bar">
        <div class="action-bar-header">
            <a>Home</a>
            <a>About</a>
            <a>Docs</a>
        </div>
        <div class="action-bar-body">
            <div class="action-bar-register" *ngIf="!signin">
                <hr>
                <h4>Lets get started!</h4>
                <div>
                    <input #signup_uname
                        type="text"
                        placeholder="Username"
                        [value]="username"
                        (input)="editField('username', signup_uname.value)"
                    >
                    <input #signup_email
                        type="email"
                        placeholder="Email"
                        [value]="email"
                        (input)="editField('email', signup_email.value)"
                    >
                    <input #signup_pwd
                        type="password"
                        placeholder="Password"
                        [value]="password"
                        (input)="editField('password', signup_pwd.value)"
                    >
                    <input #signup_pwd2
                        type="password"
                        placeholder="Confirm Password"
                        [value]="password2"
                        (input)="editField('password2', signup_pwd2.value)"
                    >
                    <div>
                        <button (click)="userSignUp()">Register</button>
                        <div></div>
                        <p>By clicking "Create Account!" you agreeing to out Terms of Service found <a>here</a></p>
                    </div>
                    <h4>Already have an account?</h4>
                    <button type="button" (click)="switchModes()">Sign In</button>
                </div>
            </div>
            <div class="action-bar-login" *ngIf="signin">
                <hr>
                <h4>Welcome back!</h4>
                <div>
                    <input #signin_uname
                        type="text"
                        placeholder="Username"
                        [value]="username"
                        (input)="editField('username', signin_uname.value)"
                    >
                    <input #signin_pwd
                        type="password"
                        placeholder="Password"
                        [value]="password"
                        (input)="editField('password', signin_pwd.value)"
                    >
                    <div>
                        <button (click)="userSignIn()">Sign In</button>
                        <input #remember_me
                            type="checkbox"
                            id="remember-me"
                            name="remember-me"
                            [checked]="remember"
                            (input)="editField('remember', remember_me.checked?'true':'false')"
                        >
                        <label for="remember-me">Remember me</label>
                    </div>
                    <a>Forgot your password?</a>
                    <h4>Don't have an account?</h4>
                    <button type="button" (click)="switchModes()">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>
